<h1>Landing page</h1>
<p>Find me in app/views/homes/show.html.erb</p>

<%= link_to "Liste de RDV", appointments_path %>
<%= link_to "Liste des cours", lessons_path %>
<%= link_to "Liste des piscines", swimming_pools_path %>